.buyCryptoTitle {
    display: flex;    
    justify-content: space-between;
    align-items: end;
}

.buyWrapper {
    font-size: .7rem;
}

.buyCryptoChoose {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buyCryptoChoose > select {
    text-align: center;
}

.buyCrypto input[type=submit] {
    cursor: pointer;
}

.buyCryptoAmount {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buyCryptoAmount input {
    padding: 1rem 2rem;
}

/* xs */
@media (min-width: 475px) {
    .buyWrapper {
        font-size: 1rem;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */