header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  /* border: red 1px solid; */
}

.title {
  display: none;
}

.title > a {
  /* font-size: 2em; */
}

.title > a > h1 {
  color: var(--primary);
  /* font-size: .8rem; */
}

.navUL {
  display: flex;
  font-weight: 600;
  font-size: 0.65rem;
}

.navUL > li:not(:last-child) {
  margin-right: 1rem;
}

.navUL > li > span {
  color: var(--text-soft);
  transition: 0.3s ease;
}

.navUL > li > span:hover {
  color: var(--text);
}

.navUL > li > span > svg {
  transition: 0.3s ease;
  transform: rotate(-90deg);
}

.navLinkSvg {
  height: 1em;
  aspect-ratio: 1/1;
  display: none;
}

.loginButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: 0.6rem;
}

.dropdownMenu {
  display: none;
  position: absolute;
  padding: 1em 2em;
  background: var(--accent);
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

/* xs */
@media (min-width: 475px) {
  .title > a > h1 {
    font-size: 1.2rem;
  }
  .navUL {
    font-size: 0.8rem;
  }
  .loginButtons {
    font-size: 0.8rem;
  }
  .title {
    display: block;
  }
  
}

/* sm */
@media (min-width: 640px) {
  .title > a > h1 {
    font-size: 1.4rem;
  }
  .navUL {
    font-size: 1rem;
  }
  .loginButtons {
    font-size: 1rem;
  }
  .navLinkSvg {
    display: inline-block;
  }
}

/* md */
@media (min-width: 768px) {
  .title > a > h1 {
    font-size: 2rem;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
